button {
    outline: none;
}


/* #1 bttn.surge.sh */

@import url('https://cdnjs.cloudflare.com/ajax/libs/bttn.css/0.2.4/bttn.min.css');

/*
#2nd External Library
 From :- https://www.darkcode.info/2018/10/buttons-with-awesome-hover-effects.html
 Code :- HA1
 */
 .ha1{border:1px solid #3498db;background:0 0;padding:10px 20px;font-size:20px;font-family:montserrat;cursor:pointer;margin:10px;transition:.8s;position:relative;overflow:hidden}.down-up,.up-down{color:#3498db}.down-up-uf,.up-down-uf{color:#fff}.down-up:hover,.up-down:hover{color:#fff}.down-up-uf:hover,.up-down-uf:hover{color:#3498db}.ha1::before{content:"";position:absolute;left:0;width:100%;height:0%;background:#3498db;z-index:-1;transition:.8s}.down-up-uf::before,.up-down::before{top:0;border-radius:0 0 50% 50%}.down-up::before,.up-down-uf::before{bottom:0;border-radius:50% 50% 0 0}.down-up-uf::before,.up-down-uf::before{height:180%}.down-up:hover::before,.up-down:hover::before{height:180%}.down-up-uf:hover::before,.up-down-uf:hover::before{height:0%}


.middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}.ha2{position:relative;display:block;color:#fff;font-size:14px;font-family:montserrat;text-decoration:none;margin:30px 0;border:2px solid #ff7675;padding:14px 60px;text-transform:uppercase;overflow:hidden;transition:1s all ease}.ha2::before{background:#ff7675;content:"";position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);z-index:-1;transition:all .6s ease}.sp-md::before{width:0%;height:100%}.sp-md:hover::before{width:100%}.sp-md-hr::before{width:100%;height:0%}.sp-md-hr:hover::before{height:100%}.sp-md-135::before{width:100%;height:0%;transform:translate(-50%,-50%) rotate(45deg)}.sp-md-135:hover::before{height:380%}.sp-md-45::before{width:100%;height:0%;transform:translate(-50%,-50%) rotate(-45deg)}.sp-md-45:hover::before{height:380%}

 /*
#3nd External Library
Ripple Effects
 From :- 
 https://codepen.io/finnhvman/pen/jLXKJw

 Code :- HA1
 */
 .rief-center{background-position:center;transition:background .8s}.rief-center:hover{background:#47a7f5 radial-gradient(circle,transparent 1%,#47a7f5 1%) center/15000%}.rief-center:active{background-color:#6eb9f7;background-size:100%;transition:background 0s}.rief-center{border:none;border-radius:2px;padding:12px 18px;font-size:16px;text-transform:uppercase;cursor:pointer;color:#fff;background-color:#2196f3;box-shadow:0 0 4px #999;outline:0}

 







